.div_backimgs{
    border-radius: 8px;
}
.cards-record:hover{
    background-color: rgb(0, 114, 63);
    transition: background-color 0.3s ease;
}
.cards-record:hover .ant-card-meta-title,
.cards-record:hover .ant-card-meta-description {
  color: white;
}

.cardcatalogo:hover{
    background-color: #101010;
    -webkit-transition-duration: 0.3s;
    color: var(--bs-white);
    border-color:  var(--bs-blue);
}
.cardcatalogo:focus{
    background-color: var(--bs-blue);
}
@media (min-width: 0px) {

    .cardcatalogo{
        margin-top: 2px;
        margin-bottom: 2px;
        display: flex;
        width: 100%;
        height:100%;
             padding:0px;
    }
    .cardcatalogo,.cardcatalogocontent{
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
    }
    .cardcatalogocontent * *{
        margin-left: 10px;
    }
    .div_backimgs{
        width: 60px;
        height:  60px;
        display: inline-block;
    }
   
}
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .cardcatalogo{
        margin-top: 2px;
        margin-bottom: 2px;
        display: flex;
        width: 100%;
        height:100%;
             padding:0px;
    }
    .cardcatalogo,.cardcatalogocontent{
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
    }
    .cardcatalogocontent * *{
        margin-left: 10px;
    }
    .div_backimgs{
        width: 60px;
        height:  60px;
        display: inline-block;
    }

}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {  
  

    .cardcatalogo{
        margin-top: 2px;
        margin-bottom: 2px;
        display: flex;
        width: 100%;
        height:100%;
             padding:0px;
    }
    .cardcatalogo,.cardcatalogocontent{
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
    }
    .cardcatalogocontent * *{
        margin-left: 10px;
    }
    .div_backimgs{
        width: 60px;
        height:  60px;
        display: inline-block;
    }
  
   

}



/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
 
    .div_backimgs{
        width: 205px;
        height: 205px;
        display: block;
    }
    .div_backimgscajero{
        width: 145px;
        height: 145px;
    }
    .cardcatalogo{
        margin: 10px;
           
        display: inline-block;
        width: 240px;
  

    }
    
    .cardcatalogocontent{
        width: 200px;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .cardcatalogocajero{
        width: 170px;;
    }
    .cardcatalogocajerocontent{
        width: 140px;;
    }
.cardcatalogocontent * *{
    margin-left: 0px;
}


}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 1020px) { 

    .div_backimgs{
        width: 205px;
        height: 205px;
        display: block;
    }
    .div_backimgscajero{
        width: 145px;
        height: 145px;
    }
    .cardcatalogo{
        margin: 10px;
           
        display: inline-block;
        width: 240px;
      
    }
    
    .cardcatalogocontent{
        width: 200px;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .cardcatalogocajero{
        width: 170px;;
    }
    .cardcatalogocajerocontent{
        width: 140px;;
    }
.cardcatalogocontent * *{
    margin-left: 0px;
}

}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  

    .div_backimgs{
        width: 205px;
        height: 205px;
        display: block;
    }
    .div_backimgscajero{
        width: 145px;
        height: 145px;
    }
    .cardcatalogo{
        margin: 10px;
           
        display: inline-block;
        width: 240px;
 

    }
    
    .cardcatalogocontent{
        width: 200px;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .cardcatalogocajero{
        width: 170px;;
    }
    .cardcatalogocajerocontent{
        width: 140px;;
    }
.cardcatalogocontent * *{
    margin-left: 0px;
}

   
}


/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    .div_backimgs{
        width: 205px;
        height: 205px;
        display: block;
    }
    .div_backimgscajero{
        width: 145px;
        height: 145px;
    }
    .cardcatalogo{
        margin: 10px;
           
        display: inline-block;
        width: 240px;
       

    }
    
    .cardcatalogocontent{
        width: 200px;
        display: block;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .cardcatalogocajero{
        width: 170px;;
    }
    .cardcatalogocajerocontent{
        width: 140px;;
    }
.cardcatalogocontent * *{
    margin-left: 0px;
}
}
