
.Titulo_principal{
    display: inline-block;
    width: 18rem;
  
}
.fonttitle{
    font-size: 24px;
}
.div_titulopanelc{
    margin-left: 35px;
}
.div_titulopanela{
    margin: 5px;
    display: inline-block;
    opacity: 0;

}
.styleimagepanelcontenido {
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0.15;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 350px;
    z-index: 0;
  }
  .ghost{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 350px;
    z-index: 0;
    background-color: #000000c9;
  }
 
  
  
.div_izqarriba{
    display: inline-block;
  position: fixed;
  right: 30px;
    margin: 5px;
    z-index: 10;
    margin-top: 10px;

}
.div_Popover{
  width: 120px;
  height: 120px;
 background-size: 120px 120px;
 background-position: 50% 50%;
 background-color: var(--bs-light);
 background-repeat: no-repeat;
}
.div_izqarriba h6{
    vertical-align: 10px;
    margin-left: 5px;
    position: absolute;
    left:  40px;
    top: 10px;
}
.div_izqarriba button{
    width: 150px;
    height: 40px;
}
.imgcuenta{
    display: inline-block;

    background-size: 80px ;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 5px;
    background-repeat: no-repeat;
    color: #fff;
}
.div_titulopanelc h1{
    display: inline-block;
}
.font_principal{
    display: inline-block;
}
.Panel_Arriba{
    width: calc(100vw - 78px);
position: absolute;
display: none;
top: 0px;
left: 60px;
height: 60px;
transition-timing-function: linear;
transition: width 0.8s, height 0.8s, transform 0.8s;
border-width: 1px;
z-index: 2;
-webkit-box-shadow: 0px 0.5px 5px 0px rgba(0,0,0,0);
    -moz-box-shadow: 0px 0.5px 5px 0px rgba(0,0,0,0);
    box-shadow: 0px 0.5px 5px 0px rgba(0,0,0,0);
}

  
.scrolled {
    background-color: blue !important;
    animation-name: fadeInDown;
    animation-duration: 0.5s;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }